.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text--name {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
}

.container-text--intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-image {
    height: 100% !important;
    display: flex;
    align-items: start;
}

.image--avatar {
    border-radius: 15%;
    width: 40%;
    border: 1px solid var(--light-extra-color);
}