/* @keyframes highlight-animation {
    0% {
        background-size: 0 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.highlight--yellow {
    background: linear-gradient(to right, rgba(255, 249, 165, 0.3) 0%, rgba(255, 249, 165, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
    animation: highlight-animation 4s ease-in-out forwards;
}

.highlight--blue {
    background: linear-gradient(to right, rgba(122, 158, 255, 0.3) 0%, rgba(122, 158, 255, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
    animation: highlight-animation 4s ease-in-out forwards;
}

.highlight--pink {
    background: linear-gradient(to right, rgba(255, 165, 212, 0.3) 0%, rgba(255, 165, 212, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
    animation: highlight-animation 4s ease-in-out forwards;
}

.highlight--red {
    background: linear-gradient(to right, rgba(255, 115, 115, 0.3) 0%, rgba(255, 115, 115, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
    animation: highlight-animation 4s ease-in-out forwards;
}

.highlight--green {
    background: linear-gradient(to right, rgba(115, 255, 117, 0.3) 0%, rgba(115, 255, 117, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
    animation: highlight-animation 4s ease-in-out forwards;
} */

@keyframes highlight-animation {
    0% {
        background-size: 0 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.highlight--yellow {
    background: linear-gradient(to right, rgba(255, 249, 165, 0.3) 0%, rgba(255, 249, 165, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
}

.highlight--blue {
    background: linear-gradient(to right, rgba(122, 158, 255, 0.3) 0%, rgba(122, 158, 255, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
}

.highlight--pink {
    background: linear-gradient(to right, rgba(255, 165, 212, 0.3) 0%, rgba(255, 165, 212, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
}

.highlight--red {
    background: linear-gradient(to right, rgba(255, 115, 115, 0.3) 0%, rgba(255, 115, 115, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
}

.highlight--green {
    background: linear-gradient(to right, rgba(115, 255, 117, 0.3) 0%, rgba(115, 255, 117, 0.3) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border-radius: 15px;
    padding: 0 0.3rem;
    margin: 0 -0.3rem;
}

.highlight.active {
    animation: highlight-animation 2s ease-in-out forwards;
}

h1 {
    margin: 4rem 0 1.5rem 0;
    font-size: clamp(1.5rem, 1.8vw, 1.8rem);
    font-weight: var(--font-weight-light);
    color: var(--light-primary-color);
    text-transform: uppercase;
    text-align: center;
}

p {
    margin: 0 1rem;
    text-align: justify;
    color: var(--light-primary-text-color);
    line-height: clamp(25px, 3.5vw, 45px);
    font-size: clamp(18px, 1.8vw, 25px);
    font-weight: var(--font-weight-light);
}

@media only screen and (max-width: 768px) {
    h1 {
        margin: 3rem 0 0.5rem 0;
        font-size: clamp(1.5rem, 1.8vw, 1.8rem);
        font-weight: var(--font-weight-light);
        color: var(--light-primary-color);
        text-transform: uppercase;
        text-align: center;
    }

    p {
        margin: 0 1rem;
        text-align: justify;
        line-height: 1.7rem;
        color: var(--light-primary-text-color);
        font-size: clamp(1.1rem, 1.2vw, 1.8rem);
    }
}