@import "tailwindcss";

@theme {
  --color-primary: #1C77C3;
  --color-text: #7B7B7B;
  --color-background: #FFFFFF;
  --color-shadow: #C1C1C1;

  --color-header-background: #FFFFFF;
  --color-header-button-background: #FFFFFF;
  --color-header-button-active-background: #9696962B;

  --color-card-name: #000000;
  --color-card-avatar: #757575;


  
  --color-dark-primary: #1C77C3;
  --color-dark-text: #7B7B7B;
  --color-dark-background: #FFFFFF;
  --color-dark-shadow: #C1C1C1;
}

.shadow-button {
  box-shadow: 0 0 8px #c1c1c1;
}

@media only screen and (min-width: 769px) {
  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}